.Nav-component {
    background-color: rgb(241, 241, 241);
    width: 100%;
    position: fixed;
    top: 0;
}

.Nav-logo {
    display: inline;
    padding-left: 20px;
}

.Nav-text {
    height: 35px;
    margin: 25px 20px 15px 20px;
}

.Nav-objects {
    float: right;
    padding-right: 40px;
}

.Nav-dropdown-button {
    display: none;
    height: 30px;
}

.Nav-dropdown-text {
    display: none;
}

@media only screen and (max-width: 1045px) {
    .Nav-text {
        height: 30px;
        margin: 15px 10px 10px 10px;
    }
}

@media only screen and (max-width: 820px) {
    .Nav-objects {
        display: none;
    }

    .Nav-dropdown-button {
        float: right;
        display: inline;
        padding-right: 40px;
        margin-top: 15px;
    }

    .Nav-dropdown-text{
        display: block;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .Nav-dropdown {
        margin-top: 58px;
        box-shadow: 0 30px 40px rgba(0,0,0,.1);
        position: fixed;
        top: 58;
        width: 100%;
        background: white;
        display: none;
    }

    .Nav-dropdown-object-container {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}