.Page-under-construction {
  width: 80%;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Navbar-overlap-padding {
  padding: 85px 0px;
}

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
