.Resume {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px rgb(53, 53, 53) solid;
    box-shadow: 0 30px 40px rgba(0,0,0,.2);
}

.Resume-container {
    margin: 5%;
}


/* Resume header */



/* Resume work experience */



/* Resume education */


/*  Resume projects */



/* Resume links */